table {
    width: 100%;
    margin: 25px auto 50px auto;
}

thead {
    background-color: rgb(75, 214, 249);
    border: none;
    height: 40px;
}

td {
    text-align: center;
    padding: 7px;
}

tbody tr:nth-child(2n+1) {
    background-color: rgb(218, 252, 255);
}

.capitilize {
    text-transform: capitalize;
}